.navbar {
    font-family: var(--font3);
    z-index: 5;
}

.static {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid rgb(36, 15, 15);
}

.spacer {
    width: 100%;
    height: 55px;
}

#listStyle {
    margin-left: 80%;
}